.tags-bookings {
  border: #4100FF 1px solid;
  padding: 7px;
  text-align: center;
  color: white;
  background-color: #4100FF;
}

.card-booking {
  padding: 15px;
  ul > li {
    line-height: 31px;
  }
}

.banner-dashboard {
  background-size: cover;
  h1 {
    padding: 120px 10px;
    font-weight: bold;
  }
}
