.card-home {
  p {
    margin: 10px 0px;
    font-weight: bold;

  }
}
// Specific CSS for your home-page
.datepicker { //chaning the height of the input field
  height: 54px;
  background-color: #FFFFFF;

}

.form-control { //chaning the height of the input field
  height: 54px;
}
