.image_request_pending {
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
  }


.icon_request_pending {
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}


.customer_support {
  margin-top: 40px;
}

.title {
  margin-top: 20px;
}


.subtitle {
  font-weight: bold;
  font-size: 21px;
}
