<div class="container">
  <h5 style="text-align: center; margin: 0;">Payment</h5>

  <br>
  <div class="card p-2">
    <div class="booking-description">
      <div>
        <p style="margin: 0">Services:</p>
        <% @booking.services.each do |service| %>
        <div class="priorities-payment">
          <%= show_svg("#{service.name}.svg")  %>
          <%#= service.name  %>
        </div>
        <% end %>
      </div>


    </div>

  </div>

  <br>
  <div>
    Duration: <%= @booking.total_duration %> hours
  </div>
  Total price: €<%= @booking.price_cents / 100 %>
  <div>
    <br>

    <h6 style="margin: 0;"><strong>Payment Method</strong></h6>
    <br>

    <div class="payment-icons">
     <i class=" icon fab fa-cc-visa"></i>
     <i class=" icon fab fa-cc-amex"></i>
     <i class=" icon fab fa-cc-mastercard"></i>
   </div>

   <br>
   <div class="form-row">
    <div class="col">
      <input type="text" class="form-control col-auto" style="margin: 0px;" placeholder="Card Holder">
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control col-auto" style="margin: 0px;" placeholder="Card number">
    </div>

  </div>
  <form>
    <br>

    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Expiration date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="CVV">
      </div>
    </div>
  </form>
</div>
<%= link_to "PAY NOW", bookings_path, class: "btn btn-main btn-block" %>
</div>
<br>

