<div class="container">
  <h5 style="text-align: center; margin: 0;">Payment</h5>

  <br>
  <div class="card p-2">
    <div class="booking-description">
      <div>
        Duration: <%= @booking.total_duration %> hours
      </div>
      <div>
        <p style="margin: 0">Priorities:</p>
        <% @booking.services.each do |service| %>
        <div class="priorities-payment">
          <%= show_svg("#{service.name}.svg")  %>
          <%#= service.name  %>
        </div>
        <% end %>
      </div>


    </div>

  </div>

    <br>
        Total price: €<%= @booking.price_cents %>
  <div>
  <br>

  <h6 style="margin: 0;">Payment Method</h6>

  <div class="payment-icons">
   <i class=" icon fab fa-cc-visa"></i>
   <i class=" icon fab fa-cc-amex"></i>
   <i class=" icon fab fa-cc-mastercard"></i>
  </div>
  <br>
<div class="payment">
<div class="card-info">
<i class="fas fa-credit-card"></i>
</div>
<br>
<div class="iconspayment">
  <i class="fas fa-calendar-alt"></i>
</div>
<br>
<div class="iconspayment">
  <i class="fas fa-lock"></i>
</div>
<br>

</div>
<br>

  <%= link_to "PAY NOW", booking_path(@booking), class: "btn btn-main btn-block" %>
</div>

