<% if bookings_display != [] %>
  <h5 class="tags-bookings-pink pending-title">
    Pending
    <i class="fas fa-hourglass-half"></i>
  </h5>
<% end %>
<div class="container-pending">
  <% bookings_display.each do |booking| %>
    <%= render "cleaners/bookings/booking", booking: booking %>
  <% end  %>
</div>

<!-- Display current and past bookings -->

<h5 class="tags-bookings">
  Confirmed
  <i class="fas fa-check-circle"></i>
</h5>
<div class="container-confirmed">
  <% bookings.each do |booking| %>
    <%= render "cleaners/bookings/booking", booking: booking %>
  <% end %>
</div>
