<div class="container">
  <div class="banner-dashboard" style="background-image: url(<%= image_path 'user-dashboard-bg.png' %>);">

    <h1>Dashboard</h1>

  </div>
  <br>
  <h3>Hi <%= current_user.first_name %>!</h3>
  <br>
  <!-- Display pending bookings in area -->
  <div class="bookings-container">
    <%= render "bookings", bookings_display: @bookings_display, bookings: @bookings %>
  </div>
</div>
<br>
