
<br>
<div class="footer-handmaid" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'footer.jpg' %>)">
  <div class="socials">

    <i class="far fa-envelope"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <br>
  <div class="blabla">
    <p style="font-size: 10px;">Terms & Conditions | Feedback | Contact Us</p>
  </div>
  <div class="content">
    <p style="font-size: 10px;">©2019 HandMaid</p>
  </div>
</div>
