<div class="navbar-handmaid">
<p class="navbar-handmaid-logo"><%= link_to 'HANDMAID', root_path %></p>

  <div class="navbar-right-content">
    <ul class="list-inline">
      <li class="list-inline-item btn btn-primary" ><%= link_to 'LOG IN', new_registration_session_path %> </li>
    </ul>
  </div>
</div>






