.cards-bookings-new {

}

.card-service {
  // display: grid;
  // grid-template-columns: 1fr;
  // align-items: baseline;
  margin-top: 4px;
  width: 120px;
  height: 90px;
  padding: 5px;
  text-align: center;
}
.form-check {
  padding: 0;
}

.services-icons {
  margin: 0 auto;
}

.cards-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

