.footer-handmaid {
  background-size: cover;
  padding: 30px 80px;
  text-align: center;
  color: white;
}

.socials {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
}

.content p {
  margin: 0;
}
