.services-icons {
  width: 50px;
  height: 50px;
  text-align: center;

}

.form-check {
  display: inline;
}

.services-icons-checked {
  stroke: #4100FF;
  stroke-width: 1;
  border: 2px solid #4100FF;
}

.service-name {
  color: #4100FF;;
  font-weight: bold;
}
